<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Request</title>
    <style>
        @import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: rgb(122, 162, 185);
}
h2{
  color: black;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  width: 600px;
  background: #fff;
  margin: 10px;
  height: 600px;
  padding: 10px;
  box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 5px;
}
.form-inner form .field input{
    height: 70%;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 15px;
}
.form-inner form .field input:focus{
  border-color: #fc83bb;
}
.form-inner form .field input::placeholder{
  color: #999;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
element.style {
    width: 438px;
    height: 97px;
}

form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: black;
  border-radius: 5px;
}

form .btn input[type="submit"]{
  height: 80%;
  width: 35%;
  position: relative;
  background: rgb(122, 162, 185);
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  margin-left: 170px;
}

.ftextarea{
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 15px;
}

.filechosen{
  display: flex;
  flex-direction: row;
}

    </style>

</head>
<body>
        <div class="wrapper">
         <div class="title-text">
            <div class="title Create Request">
            <h2> Create Request</h2>  
            </div>
         </div>
         <div class="form-container">
             <div class="form-inner">
               <form action="/CreateRequest" class="CreateRequest" method="POST">
                  <div class="field">
                     <input type="text" placeholder="Name" name="FName">
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Email Address"  name="EmailAddress" required>
                  </div>
                  <div class="field">
                     <input type="phone" placeholder="Contact Number" name="Contact" required>
                  </div>
                  <div class="field">
                     <input type="number" placeholder="Amount" name="Amount" required>
                  </div>
                  <div class="field">
                     <input type="number" placeholder="Interest Rate Expected" name="InterestRate" required>
                  </div>
                  <div class="field">
                     <input placeholder="Purpose" class = "ftextarea" name="Purpose" required></input>
                  </div>
                  <div class ="field filechosen">
                    <h4 style="width: 50%;" >Upload your Aadhar Card</h4>
                      <input type="file" id="Aadhar" name="upload1" placeholder="Upload your Aadhar Card" style="width: 50%;">
                  </div>
                  <div class ="field filechosen">   
                    <h4 style="width: 50%;">Upload your PAN Card</h4>
                      <input type="file" id="Aadhar" name="upload2" placeholder="Upload your PAN Card" style="width: 50%;">
                  </div> 
                  <div class="field btn">
                     <input type="submit" value="Create Request">
                  </div>
               </form>
            </div>
         </div>
      </div>

</body>
</html>